

<div class="jumbotron jumbo-image center jumbotron-fluid">
  <div class="container">
  <h1 class="display-3">FanbärerIT</h1>
</div>
</div>

<div class="description">
<p class="lead">FanbärerIT är IT-sektionens fanbäreri vilket innebär att det är vi som ansvarar för att ITs fana är representerade på alla sektionsmöten, mösspåtagningar, första dagen samt Cortègen. Det är lätt att känna igen oss på att har en stark förkärlek till frack och aftonklänning. Någonting annat vi gärna konsumerar är ett gott glas bubbel eller en rökig whisky och det är på grund av detta som vi har tagit på oss att utveckla IT-teknologernas kunskap om finkultur. Detta för att gemene teknolog ska bli väl insatt inom kulturens underbara värld.</p>
<hr class="my-4">
<%= link_to "Se Kommande Arrangemang", events_path, class: "btn btn-primary btn-lg"%>

</div>
