<footer class="footer">
  <small>
    Kod Av: Tobias Alldén, 2017
  </small>
  <nav>
    <ul>
      <li><%= link_to "Om",   '#' %></li>
      <li><%= link_to "Kontakt", '#' %></li>
    </ul>
  </nav>
</footer>
