<header class="navbar navbar-fixed-top">
    <%= link_to "FanbärerIT", root_path, id: "logo", class: "navbar-brand"%>
    <nav class="navbar navbar-expand-md-navbar-fixed">
      <ul class="nav navbar-nav navbar-expand-md fixed-top navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Arrangemang", events_path %></li>
        <li><%= link_to "Pateter", members_path %> </li>
      </ul>
    </nav>
</header>
